{% extends '../base.html' %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-xl-6">
        {% if cam_status %}
        <h3>IMX219 77 Degree stream status: connected</h3>
        <img src="{% url 'camera_feed' %}" style="width: 100%" />
        {% else %}
        <h3>Camera 60 Degree stream status: Camera is either not accessible or busy</h3>
        <h5>Things to check:</h5>
        <ul class="text-right list-inline">
            <li>USB connection?</li>
            <li>Camera number in your .env file?</li>
            <li>Camera is already in use?</li>
        </ul>
        {% endif %}
    </div>
    <div class="col-xl-6">
        {% if cam_status_1 %}
        <h3>OV5647 60 Degree stream status: connected</h3>
        <img src="{% url 'camera_feed_1' %}" style="width: 100%" />
        {% else %}
        <h3>Camera 130 Degree (Fish Eye) stream status: Camera is either not accessible or busy</h3>
        <h5>Things to check:</h5>
        <ul class="text-right list-inline">
            <li>USB connection?</li>
            <li>Camera number in your .env file?</li>
            <li>Camera is already in use?</li>
        </ul>
        {% endif %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
    $("#btn_ReadQRCode").on("click", function (e) {
        console.log("Ajax request triggered.");
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'camera_feed' %}",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                dataType: "json",
            },
            success: function (data) {
                if (data.barcode_data !== null && data.barcode_data !== '') {
                    console.log(data);
                    $("#txt_BarcodeData").html(data.barcode_data);
                    $("#lbl_LastModified").html(
                        "Last modified at: " + data.file_saved_at
                    );
                } else {
                    console.log(data);
                    $("#txt_BarcodeData").html("");
                    $("#lbl_LastModified").html("<h3><em>No data or file not found. Scan barcode again.</em></h3>");
                }
            },
            error: function () {
                console.log(error);
            }
        });
    });
</script>
{% endblock content %}
